      @media screen and (max-width:1140px) {
          .banner-blocks {
              grid-template-columns: 1fr;
              grid-template-rows: repeat(4, 1fr);
          }

          .block-1 {
              grid-area: 1 / 1 / 3 / 2;
          }

          .block-2 {
              grid-area: 3 / 1 / 4 / 2;
          }

          .block-3 {
              grid-area: 4 / 1 / 5 / 2;
          }

      }

      /* ปรับให้รูปแสดงเต็มหน้าจอสำหรับมือถือ */
      @media (min-width: 992px) {
          .navbar-light {
              width: 100%;
              top: 0;
              left: 0;
              border-bottom: 1px solid rgba(256, 256, 256, .1);
              z-index: 999;

          }

          .sticky-top.navbar-light {
              position: fixed;
              background: #cc232a;
          }

          .navbar-light .navbar-nav .nav-link::before {
              position: absolute;
              content: "";
              width: 0;
              height: 2px;
              bottom: -1px;
              left: 50%;
              background: var(--secondary);
              transition: .5s;
          }

          .navbar-light .navbar-nav .nav-link:hover::before,
          .navbar-light .navbar-nav .nav-link.active::before {
              width: 100%;
              left: 0;
          }

          .navbar-light .navbar-nav .nav-link.nav-contact::before {
              display: none;
          }

          .sticky-top.navbar-light .navbar-brand h1 {
              color: var(--primary);
          }

      }

      @media (max-width: 991.98px) {
          .sticky-top.navbar-light {
              position: relative;
              background: #FFFFFF;
          }

          .format-desktop {
              display: none;
          }

          .format-phone {
              display: block;
          }

          .navbar-light .navbar-collapse {
              margin-top: 15px;
              border-top: 1px solid #ffffff;
          }

          .navbar-light .navbar-nav .nav-link,
          .sticky-top.navbar-light .navbar-nav .nav-link {
              padding: 10px 0;
              margin-left: 0;
          }

          .navbar-light .navbar-brand h1 {
              color: var(--primary);
          }

          .navbar-light .navbar-brand img {
              max-height: 45px;
              width: 110px;

          }

          .carousel-inner img {
              height: 290px !important;
          }

          .navbar-light {
              width: 100%;
              top: 0;
              left: 0;
              border-bottom: 1px solid rgba(256, 256, 256, .1);
              z-index: 999;

          }

          .sticky-top.navbar-light {
              position: fixed;
              background: #cc232a;
          }

          .navbar-light .navbar-nav .nav-link::before {
              position: absolute;
              content: "";
              width: 0;
              height: 2px;
              bottom: -1px;
              left: 50%;
              background: var(--secondary);
              transition: .5s;
          }

          .navbar-light .navbar-nav .nav-link:hover::before,
          .navbar-light .navbar-nav .nav-link.active::before {
              width: 100%;
              left: 0;
          }

          .navbar-light .navbar-nav .nav-link.nav-contact::before {
              display: none;
          }

          .sticky-top.navbar-light .navbar-brand h1 {
              color: var(--primary);
          }

          .about_activity_main {
              grid-template-columns: repeat(1, 2fr);
          }

          .hero-section h1 {
              font-size: 8vw;
              text-align: center;
          }

          .hero-section p {
              width: 100%;
              font-size: 10px;
              margin-left: 0;
          }

          .about_circle_1 {
              height: 30vw;
              width: 30vw;
              top: 0vh;
              left: -8vw;
          }

          .about_circle_2 {
              height: 10vw;
              width: 10vw;
              top: 10vh;
              left: 13vw;
          }

          .about_circle_3 {
              top: 22%;
              right: 0;
              height: 20vw;
              width: 10vw;
          }
      }

      @media (max-width: 768px) {
          .hr-moblie {
              width: 320px !important;
          }

          .moblie-nav p {
              font-size: 14px;
          }

          .login-text-moblie {
              font-size: 14px !important;
          }

          .font-span {
              font-size: 18px;
          }


          .footer-responsive {
              text-align: left !important;
              border-bottom: 1px solid #f4f4f4;
              font-size: 14px;
          }

          .fa-angle-down {
              display: none;
          }

          .design-phone {
              width: 100% !important;
          }

          .why-luck {
              margin-bottom: 30px;
              border-radius: 24px;
              padding: 10px;
              float: left;
              background: linear-gradient(10deg, rgba(255, 255, 255, 1) 0%, rgba(255, 172, 172, 1) 100%);
          }

          .why-font {
              padding: 0px !important;
              margin: 0px !important;
              color: #000;
          }

          .bg-image {
              background-color: #ff900a;
              color: #fff;

          }

          .cat-image {
              /* width: 50px !important; */
              position: absolute !important;
              bottom: 362px;
              rotate: -384deg !important;
              right: -103px;
          }

          .text-why-luck {
              font-size: 16px;
              color: #ff0000 !important;
          }

          .why-luck img {
              border: 1px solid #f4f4f4;
              box-shadow: 2px 5px 5px rgb(176, 168, 168);
              margin-bottom: 30px;
              border-radius: 24px;
              padding: 10px;
              float: left;
              margin-left: 10px;
              width: 80px !important;
              height: 80px !important;
              margin-top: 10px;
              background-color: #fff;
          }

          .why-luck p {
              display: inline-block;
              vertical-align: top;
              max-width: calc(100% - 140px);
          }

          .image-moblie {
              display: none;


          }

          .image-about {
              width: 80%;
              position: relative !important;
              left: 35px !important;
              top: -50px;
          }

          .new-moblie-luck {
              border-radius: 24px;
              margin-bottom: 14px;
              /* background: linear-gradient(0deg, rgba(255, 255, 255, 1) 20%, rgba(245, 245, 245, 1) 40%, rgba(131, 130, 130, 0.477) 100%); */

          }

          .new-moblie-luck span {
              color: #ffffff;
          }

          .text-shop {
              font-size: 18px !important;
          }

          .sticky-top.navbar-light {
              position: relative;
              background: #FFFFFF;
          }

          .txt-service {
              font-size: 24px;
          }

          .navbar-light .navbar-nav .nav-link {
              color: var(--dark) !important;
          }

          .navbar-light .navbar-nav .nav-link::before {
              display: none;
          }

          .navbar-light .navbar-brand img {
              max-height: 45px;
              width: 120px;
          }

          .swiper-slide img {
              width: 100%;
              height: 125px;
          }

          .grid-container {
              display: grid;
              grid-template-columns: auto;
              gap: 11px;
              padding: 5px;
              width: 50px;
          }

          .navbar-light {
              width: 100%;
              top: 0;
              left: 0;
              border-bottom: 1px solid rgba(256, 256, 256, .1);

          }

          .border-about {
              border-radius: 24px;
              padding-top: 20px !important;
              text-align: center !important;
          }

          .text-con-luck {
              font-size: 14px !important;
          }

          .gap-moblie {
              gap: 17px !important;
          }

          .sticky-top.navbar-light {
              position: fixed;
              background: #cc232a;
              color: #fff !important;
          }

          .navbar-light .navbar-nav .nav-link::before {
              position: absolute;
              content: "";
              width: 0;
              height: 2px;
              bottom: -1px;
              left: 50%;
              background: var(--secondary);
              transition: .5s;
          }

          .navbar-light .navbar-nav .nav-link:hover::before,
          .navbar-light .navbar-nav .nav-link.active::before {
              width: 100%;
              left: 0;
          }

          .navbar-light .navbar-nav .nav-link.nav-contact::before {
              display: none;
          }

          .sticky-top.navbar-light .navbar-brand h1 {
              color: var(--primary);
          }

          .text-header-phone {
              font-size: 24px !important;
              font-weight: 600 !important;
              color: #ffffff;
              position: absolute;
              bottom: -184px;
              left: 113px;
          }

          .image-pin-phone {
              width: 40px !important;
              position: relative !important;
              left: -12px !important;
          }

          .text-phone-p {
              font-size: 14px !important;
              color: #ffffff;
              position: absolute;
              top: 210px;
              width: 170%;
              left: -124px;
          }
          .bg-moblie {
              border-radius: 24px;
              margin-bottom: 10px;
          }
          .card-con {
              width: 100% !important;
              height: 100% !important;
          }

          .text-se h1 {
              font-size: 40px !important;
          }

          .text-se p {
              font-size: 13px !important;
          }


          .colum-gap {
              gap: 10px;
          }

          .service-header-moblie {
              width: 100% !important;
          }

          .lottie {
              display: none;
          }

          .section-title {
              font-size: 14px !important;
              margin-bottom: 0px !important;
              align-content: center;
          }

          .all-viwe {
              font-size: 14px !important;
              margin: 4px;
          }
          .style-service-web {
              background: none;
              padding: 0 !important;
              margin: 0 !important;
          }

          .text-dis-service {
              width: 100% !important;
          }

          .button-link-app img {
              width: 45%;
          }

          .layout-text {
              margin-top: 155px;
          }

          .layout-text1 {
              margin-top: 60px;
          }

          .layout-text h2 {
              text-align: center;
              font-family: emoji;
              color: #cc232a;
              font-weight: 900;
              text-shadow: 1px 0px 0px #cc232a;
          }

          .layout-text p {
              margin-top: 0 !important;
              text-align: center;
          }
      }

      .learning_part {
          margin-top: 80px;
      }

   

      .learning_member_text {
          text-align: left;
      }

      .learning_member_text h5 {
          font-size: 18px;
          margin-bottom: 10px;
          color: #555;
      }

      .learning_member_text h2 {
          font-size: 28px;
          margin-bottom: 20px;
          color: #333;
      }

      .learning_member_text p {
          font-size: 16px;
          margin-bottom: 20px;
          color: #666;
      }

      .learning_member_text ul {
          padding: 0;
          list-style: none;
          margin-bottom: 20px;
      }

      .learning_member_text ul li {
          font-size: 16px;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
      }

      .learning_member_text ul li span {
          margin-right: 10px;
          color: #cc232a;
      }



      .learning_img {
          width: 70%;
          height: auto;
      }

      .learning_img img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }

      /* Responsive Design */
      @media (max-width: 768px) {
          .row {
              flex-direction: column;
          }

          .col-md-5,
          .col-md-7,
          .col-lg-5,
          .col-lg-7 {
              flex: 0 0 100%;
              padding-bottom: 50px;
    
          }
      }

      @media (max-width: 576px) {
          .learning_member_text h2 {
              font-size: 24px;
          }

          .learning_member_text p,
          .learning_member_text ul li {
              font-size: 14px;
          }

          .learning_img {
              display: block;
          }
          .learning1 .row {
            flex-direction: column-reverse;
            /* สลับตำแหน่งของเนื้อหากับรูปเมื่ออยู่ในหน้าจอเล็ก */
        }
      }

      /* จบ ปรับให้รูปแสดงเต็มหน้าจอสำหรับมือถือ */

      @media (max-width: 576px) {
        .single_feature_padding {
          padding-top: 70px;
        }
      }
      
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .single_feature_padding {
          padding-top: 70px;
        }
      }
      
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single_feature_padding {
          padding-top: 70px;
        }
      }
      
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .single_feature_padding {
          padding-top: 70px;
        }
      }

/**************** blog part css start ****************/
@media (max-width: 576px) {
    /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
    .blog_part {
      padding-bottom: 50px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
    .blog_part {
      padding-bottom: 50px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .blog_part {
      padding-bottom: 50px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    
    .blog_part {
      padding-bottom: 50px;
    }
  }
  @media (max-width: 576px) {
    .blog_part .single-home-blog {
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .blog_part .single-home-blog {
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .blog_part .single-home-blog {
      margin-bottom: 20px;
    }
  }    
  @media (max-width: 576px) {
    .blog_part .single-home-blog .card .card-body {
      padding: 15px 10px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .blog_part .single-home-blog .card .card-body {
      padding: 15px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .blog_part .single-home-blog .card .card-body {
      padding: 20px;
    }
  }
  @media (max-width: 576px) {
    .blog_part .single-home-blog .card span {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .blog_part .single-home-blog .card span {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .blog_part .single-home-blog .card span {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .blog_part .single-home-blog .card span {
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
  @media (max-width: 576px) {
    .blog_part .single-home-blog .card h5 {
      margin-bottom: 5px;
      font-size: 17px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .blog_part .single-home-blog .card h5 {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .blog_part .single-home-blog .card h5 {
      margin-bottom: 10px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .blog_part .single-home-blog .card h5 {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }
  @media (max-width: 576px) {
    .blog_part .single-home-blog .card ul li {
      margin-right: 10px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .blog_part .single-home-blog .card ul li {
      margin-right: 10px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .blog_part .single-home-blog .card ul li {
      margin-right: 10px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .blog_part .single-home-blog .card ul li {
      margin-right: 10px;
    }
  }
  
  .blog_part .single-home-blog .card ul li span {
    margin-right: 10px;
  }
  @media (max-width: 576px) {
    .advance_feature {
      padding: 20px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .advance_feature {
      padding: 20px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .advance_feature {
      padding: 20px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .advance_feature {
      padding: 70px 0px;
    }
  }
  
  @media (max-width: 576px) {
    .advance_feature .learning_img {
      position: inherit;
      top: 0px;
      left: 0;
      bottom: 0;
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .advance_feature .learning_img {
      position: inherit;
      left: 0;
      bottom: auto;
      top: 20px;
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .advance_feature .learning_img {
      position: inherit;
      left: 0;
      bottom: 0;
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .advance_feature .learning_img {
      position: inherit;
      left: 0;
      bottom: 0;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 576px) {
    .advance_feature .learning_img img {
      padding: 0px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .advance_feature .learning_img img {
      padding: 0;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .advance_feature .learning_img img {
      padding: 0px;
    }
  }
  @media (max-width: 576px) {
    .advance_feature .learning_member_text_iner span {
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .advance_feature .learning_member_text_iner span {
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .advance_feature .learning_member_text_iner span {
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }
   
  @media (max-width: 576px) {
    .advance_feature .learning_member_text_iner h4 {
      margin-bottom: 10px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .advance_feature .learning_member_text_iner h4 {
      margin-bottom: 10px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .advance_feature .learning_member_text_iner h4 {
      margin-bottom: 10px;
    }
  }
  @media (max-width: 576px) {
    .banner_part {
      height: 700px;
      background-image: none;
      background-color: #f7f7f7;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .banner_part {
      height: 750px;
      background-image: none;
      background-color: #f7f7f7;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner_part {
      height: 750px;
      background-image: none;
      background-color: #f7f7f7;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .banner_part {
      height: 650px;
    }
  }
  @media (max-width: 576px) {
    .banner_part .banner_text .banner_text_iner {
      vertical-align: bottom;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .banner_part .banner_text .banner_text_iner {
      vertical-align: bottom;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner_part .banner_text .banner_text_iner {
      vertical-align: bottom;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .banner_part .banner_text .banner_text_iner {
      vertical-align: bottom;
    }
  }
  
  @media (max-width: 576px) {
    .banner_part .banner_text {
      text-align: center;
      padding-top: 0px;
      height: 700px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .banner_part .banner_text {
      text-align: center;
      padding-top: 0px;
      height: 750px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner_part .banner_text {
      text-align: center;
      padding-top: 0px;
      height: 750px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .banner_part .banner_text {
      height: 650px;
    }
  }
  @media (max-width: 576px) {
    .banner_part .banner_text h1 {
      font-size: 25px;
      margin-bottom: 15px;
      line-height: 1.3;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .banner_part .banner_text h1 {
      font-size: 40px;
      margin-bottom: 15px;
      line-height: 1.3;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner_part .banner_text h1 {
      font-size: 40px;
      margin-bottom: 15px;
      line-height: 1.3;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .banner_part .banner_text h1 {
      font-size: 40px;
      margin-bottom: 15px;
      line-height: 1.4;
    }
  }
  @media (max-width: 576px) {
    .banner_part .banner_text .btn_1 {
      margin-top: 20px;
      margin-bottom: 70px;
      padding: 10px 25px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .banner_part .banner_text .btn_1 {
      margin-top: 20px;
      margin-bottom: 70px;
      padding: 10px 25px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner_part .banner_text .btn_1 {
      margin-top: 20px;
      margin-bottom: 70px;
      padding: 10px 25px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .banner_part .banner_text .btn_1 {
      margin-top: 20px;
      margin-bottom: 70px;
      padding: 10px 25px;
    }
  }
  @media (max-width: 576px) {
    .banner_part .banner_text .btn_2 {
      margin-top: 20px;
      margin-bottom: 40px;
      padding: 10px 25px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .banner_part .banner_text .btn_2 {
      margin-top: 20px;
      margin-bottom: 40px;
      padding: 10px 25px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner_part .banner_text .btn_2 {
      margin-top: 20px;
      margin-bottom: 40px;
      padding: 10px 25px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .banner_part .banner_text .btn_2 {
      margin-top: 20px;
      margin-bottom: 70px;
      padding: 10px 25px;
    }
  }
  @media (max-width: 576px) {
    .banner_part:after {
      position: absolute;
      top: 54px;
      max-width: 100%;
      max-height: 100%;
      content: "";
      background-image: url(../img/bg-img.png);
      background-size: contain;
      right: 0;
      left: 0;
      text-align: center;
      margin: 0 auto;
      background-repeat: no-repeat;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .banner_part:after {
      position: absolute;
      top: 110px;
      max-width: 100%;
      max-height: 100%;
      content: "";
      background-image: url(../img/bg-img.png);
      background-size: contain;
      right: 0;
      left: 0;
      text-align: center;
      margin: 0 auto;
      background-repeat: no-repeat;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner_part:after {
      position: absolute;
      top: 110px;
      max-width: 100%;
      max-height: 100%;
      content: "";
      background-image: url(../img/bg-img.png);
      background-size: contain;
      right: 0;
      left: 0;
      text-align: center;
      margin: 0 auto;
      background-repeat: no-repeat;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .banner_part:after {
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      content: "";
      background-image: url(../img/bg-img.png);
      background-size: contain;
      right: 5%;
      bottom: 0;
      top: auto;
      background-repeat: no-repeat;
    }
  }
  @media (max-width: 576px) {
    .btn_1 {
      padding: 10px 30px;
      margin-top: 25px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .btn_1 {
      padding: 10px 30px;
      margin-top: 30px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .btn_1 {
      padding: 10px 30px;
      margin-top: 30px;
    }
  }
  
  @media (max-width: 576px) {
    .feature_part .single_feature_text .btn_1 {
      margin-top: 25px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .feature_part .single_feature_text .btn_1 {
      margin-top: 25px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .feature_part .single_feature_text .btn_1 {
      margin-top: 25px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .feature_part .single_feature_text .btn_1 {
      margin-top: 25px;
    }
  }
  
  @media (max-width: 576px) {
    .feature_part .single_feature_part {
      padding: 25px 10px;
      margin-top: 25px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .feature_part .single_feature_part {
      padding: 30px 15px;
      margin-top: 25px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .feature_part .single_feature_part {
      padding: 30px 25px;
      margin-top: 25px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .feature_part .single_feature_part {
      margin-top: 25px;
    }
  }
  
  @media (max-width: 576px) {
    .feature_part .single_feature_part span {
      margin-bottom: 25px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .feature_part .single_feature_part span {
      margin-bottom: 35px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .feature_part .single_feature_part span {
      margin-bottom: 35px;
    }
  }
  
  @media (max-width: 576px) {
    .feature_part .single_feature_part h4 {
      margin-bottom: 15px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .feature_part .single_feature_part h4 {
      margin-bottom: 15px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .feature_part .single_feature_part h4 {
      margin-bottom: 15px;
    }
  }